<div class="center">
  <h1>My Dreams</h1>
  <h2>{{greeting}}, {{user}}.</h2>
  <div class="list">
    <a href="profile/create" class="inverted"><i class="fa-solid fa-plus"></i> Add New Dream</a>
    {{#each dream}}
    <a href="profile/dream/{{this._id}}">{{{this.face}}} {{this.name}} ({{this.date}})</a>
    {{/each}}
  </div>
</div>
