<h1>{{dream.name}} ({{dream.date}})</h1>
<div>
  <h3>Dream Clarity: {{dream.quality}}/10</h3>
  <h3>Mood: <i class="fa-solid fa-face-{{dream.face}}"></i></h3>
</div>
<p>
  {{dream.content}}
</p>
<input type="button" value="Back" onclick="window.location.href='/profile';">
